{% extends 'base.html.twig' %}

{% block title %}Import nowych użytkowników{% endblock %}

{% block body %}
<div class="container pt-5 pb-5">
    <h1 class="h3 mb-3 font-weight-normal">Importuj użytkowników</h1>

    {{ form_start(form) }}
        {{ form_row(form.file) }}

        <button type="submit" class="btn btn-lg btn-primary mt-3">Wyślij</button>
    {{ form_end(form) }}
</div>
{% endblock %}
