{% extends 'base.html.twig' %}

{% block title %}Uzytkownicy{% endblock %}

{% block body %}

<div class="container">
    <h1>Panel Użytkownika</h1>

    <p>Aby zaimportować listę użytkowników <a href="{{ path('app_user_import') }}">kliknij tutaj</a>.</p>
</div>
{% endblock %}
